{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Verificahub API",
    "description": "External verification API for integrators.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.verificahub.ru"
    }
  ],
  "paths": {
    "/v1/verify/check": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Submit a verification code.",
        "description": "For methods that take a typed code: telegram_otp, and mts_id once its SIM-push has fallen back to SMS-OTP. reverse_flash_call auto-verifies and needs no code. For mts_id the code is relayed to the operator and the result arrives asynchronously, so the response status stays 'sent' — poll GET /v1/verify/{request_id} for the outcome.",
        "operationId": "CheckVerificationCode",
        "requestBody": {
          "x-name": "CheckCodeRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckCodeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckCodeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ExternalBasic": []
          }
        ]
      }
    },
    "/v1/balance": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Get the account's current balance.",
        "operationId": "GetBalance",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBalanceResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ExternalBasic": []
          }
        ]
      }
    },
    "/v1/prices": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "List the live per-method verification prices for your account currency.",
        "operationId": "GetPrices",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPricesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ExternalBasic": []
          }
        ]
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Aggregated verification usage over a date range.",
        "operationId": "GetUsage",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive start date.",
            "schema": {
              "type": "string",
              "format": "date",
              "nullable": true
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Inclusive end date.",
            "schema": {
              "type": "string",
              "format": "date",
              "nullable": true
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ExternalBasic": []
          }
        ]
      }
    },
    "/v1/verify/{request_id}": {
      "get": {
        "tags": [
          "V1"
        ],
        "summary": "Fetch the current status of a verification.",
        "operationId": "GetVerificationStatus",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVerificationStatusResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ExternalBasic": []
          }
        ]
      }
    },
    "/v1/verify": {
      "post": {
        "tags": [
          "V1"
        ],
        "summary": "Initiate a phone verification.",
        "description": "Starts a verification with the chosen method (reverse_flash_call, telegram_otp or mts_id). The 201 response shape is discriminated by the method property; the verification code is never returned.",
        "operationId": "InitiateVerification",
        "requestBody": {
          "x-name": "InitiateVerificationRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateVerificationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "402": {
            "description": "",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ExternalBasic": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        },
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CheckCodeResponse": {
        "type": "object",
        "description": "Success response for a code check.",
        "additionalProperties": false,
        "properties": {
          "request_id": {
            "type": "string",
            "description": "The session's id.",
            "format": "guid"
          },
          "status": {
            "description": "Resulting status.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationStatus"
              }
            ]
          },
          "phone_number": {
            "type": "string",
            "description": "The verified number, normalised to E.164."
          }
        }
      },
      "VerificationStatus": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "sent",
          "delivered",
          "verified",
          "expired",
          "failed"
        ],
        "enum": [
          "sent",
          "delivered",
          "verified",
          "expired",
          "failed"
        ]
      },
      "CheckCodeRequest": {
        "type": "object",
        "description": "Body for POST /v1/verify/check.",
        "additionalProperties": false,
        "properties": {
          "request_id": {
            "type": "string",
            "description": "The session id to check against.",
            "format": "guid"
          },
          "code": {
            "type": "string",
            "description": "The code submitted by the integrator."
          }
        }
      },
      "GetBalanceResponse": {
        "type": "object",
        "description": "Response for GET /v1/balance.",
        "additionalProperties": false,
        "properties": {
          "balance": {
            "description": "The account's current prepaid balance.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MoneyResponse"
              }
            ]
          }
        }
      },
      "MoneyResponse": {
        "type": "object",
        "description": "Monetary amount in API responses.",
        "additionalProperties": false,
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount.",
            "format": "decimal"
          },
          "currency": {
            "description": "ISO-4217 currency.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Currency"
              }
            ]
          }
        }
      },
      "Currency": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "RUB"
        ],
        "enum": [
          "RUB"
        ]
      },
      "GetPricesResponse": {
        "type": "object",
        "description": "The live per-method verification prices for the caller's account currency. Shared by the\nexternal (GET /v1/prices) and dashboard (GET /dashboard/prices) surfaces.",
        "additionalProperties": false,
        "properties": {
          "prices": {
            "type": "array",
            "description": "Live prices, one row per available method that has a price, in display order.",
            "items": {
              "$ref": "#/components/schemas/MethodPriceResponse"
            }
          }
        }
      },
      "MethodPriceResponse": {
        "type": "object",
        "description": "The price of one verification method.",
        "additionalProperties": false,
        "properties": {
          "method": {
            "description": "Verification method.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationMethod"
              }
            ]
          },
          "price": {
            "description": "The amount charged per verification for this method.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MoneyResponse"
              }
            ]
          }
        }
      },
      "VerificationMethod": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "reverse_flash_call",
          "flash_call",
          "voice",
          "sms",
          "telegram_otp",
          "mts_id",
          "mts_id_sms_otp",
          "max_bot"
        ],
        "enum": [
          "reverse_flash_call",
          "flash_call",
          "voice",
          "sms",
          "telegram_otp",
          "mts_id",
          "mts_id_sms_otp",
          "max_bot"
        ]
      },
      "GetUsageResponse": {
        "type": "object",
        "description": "Usage summary response.",
        "additionalProperties": false,
        "properties": {
          "from": {
            "type": "string",
            "description": "Start of the reported range.",
            "format": "date"
          },
          "to": {
            "type": "string",
            "description": "End of the reported range.",
            "format": "date"
          },
          "total_verifications": {
            "type": "integer",
            "description": "Total verifications initiated in range.",
            "format": "int32"
          },
          "successful": {
            "type": "integer",
            "description": "Count that reached verified.",
            "format": "int32"
          },
          "success_rate": {
            "type": "number",
            "description": "Successful divided by total, rounded to 4 places.",
            "format": "double"
          },
          "total_cost": {
            "description": "Total amount actually billed across the range (sum of charged verifications, excluding\nunbilled expired/failed ones and refunds).",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MoneyResponse"
              }
            ]
          },
          "by_method": {
            "type": "object",
            "description": "Verification counts grouped by method.",
            "x-dictionaryKey": {
              "$ref": "#/components/schemas/VerificationMethod"
            },
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            }
          },
          "by_status": {
            "type": "object",
            "description": "Verification counts grouped by status — the failure breakdown (expired vs\nfailed) integrators use to diagnose drop-off.",
            "x-dictionaryKey": {
              "$ref": "#/components/schemas/VerificationStatus"
            },
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            }
          },
          "daily": {
            "type": "array",
            "description": "Per-day counts across the range, ordered by date — for trend charts. Days with no activity\nare omitted.",
            "items": {
              "$ref": "#/components/schemas/UsageDayResponse"
            }
          }
        }
      },
      "UsageDayResponse": {
        "type": "object",
        "description": "One day's counts in a usage report.",
        "additionalProperties": false,
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "verified": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetUsageRequest": {
        "type": "object",
        "description": "Query for GET /v1/usage.",
        "additionalProperties": false
      },
      "GetVerificationStatusResponse": {
        "type": "object",
        "description": "Status response.",
        "additionalProperties": false,
        "properties": {
          "request_id": {
            "type": "string",
            "description": "The session's id.",
            "format": "guid"
          },
          "phone_number": {
            "type": "string",
            "description": "The verified number, normalised to E.164."
          },
          "method": {
            "description": "Verification method.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationMethod"
              }
            ]
          },
          "status": {
            "description": "Current status.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationStatus"
              }
            ]
          },
          "awaiting_code": {
            "type": "boolean",
            "description": "Whether the flow is now waiting for the user's code to be submitted via\nPOST /v1/verify/check. Always false for methods that need no typed code\n(reverse_flash_call). For mts_id it is true only after the SIM-push\nfalls back to SMS-OTP (mirrors the verification.code_required webhook) — while the\nsilent push is still in flight it stays false, so integrators poll this to know when\nto prompt for a code."
          },
          "cost": {
            "description": "The price for this verification (the quoted client price). For a pending, expired or failed\nverification this is the price that would apply — not necessarily an amount that was billed.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MoneyResponse"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "description": "When the session was created (UTC).",
            "format": "date-time"
          },
          "verified_at": {
            "type": "string",
            "description": "When verification succeeded (UTC), if it did.",
            "format": "date-time",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "description": "When the session expires (UTC).",
            "format": "date-time"
          },
          "failure_reason": {
            "description": "Why the verification did not succeed, or null while it is live or it verified.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationFailureReason"
              }
            ]
          }
        }
      },
      "VerificationFailureReason": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "no_response",
          "declined",
          "wrong_code",
          "not_delivered",
          "unreachable",
          "unknown"
        ],
        "enum": [
          "no_response",
          "declined",
          "wrong_code",
          "not_delivered",
          "unreachable",
          "unknown"
        ]
      },
      "GetVerificationStatusRequest": {
        "type": "object",
        "description": "Route binding for GET /v1/verify/{request_id}.",
        "additionalProperties": false
      },
      "InitiateVerificationResponse": {
        "type": "object",
        "discriminator": {
          "propertyName": "method",
          "mapping": {
            "reverse_flash_call": "#/components/schemas/ReverseFlashCallInitiateResponse",
            "sms": "#/components/schemas/SmsInitiateResponse",
            "flash_call": "#/components/schemas/FlashCallInitiateResponse",
            "telegram_otp": "#/components/schemas/TelegramInitiateResponse",
            "mts_id": "#/components/schemas/MtsIdInitiateResponse",
            "max_bot": "#/components/schemas/MaxBotInitiateResponse"
          }
        },
        "description": "Response for POST /v1/verify, common fields shared by every method.",
        "x-abstract": true,
        "additionalProperties": false,
        "required": [
          "method"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "description": "The created session's id.",
            "format": "guid"
          },
          "phone_number": {
            "type": "string",
            "description": "The verified number, normalised to E.164."
          },
          "status": {
            "description": "Current status.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationStatus"
              }
            ]
          },
          "cost": {
            "description": "The price for this verification (the quoted client price); it is billed when the verification\nreaches its billing milestone.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MoneyResponse"
              }
            ]
          },
          "expires_at": {
            "type": "string",
            "description": "When the session expires (UTC) if not verified.",
            "format": "date-time"
          },
          "code_length": {
            "type": "integer",
            "description": "Number of digits in the code the user receives/reads and submits via POST /v1/verify/check.",
            "format": "int32"
          },
          "method": {
            "type": "string"
          }
        }
      },
      "ReverseFlashCallInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InitiateVerificationResponse"
          },
          {
            "type": "object",
            "description": "Response for a ReverseFlashCall verification.",
            "additionalProperties": false,
            "properties": {
              "number_to_call": {
                "type": "string",
                "description": "Gateway SIM number to display: \"Call this number\"."
              }
            }
          }
        ]
      },
      "SmsInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InitiateVerificationResponse"
          },
          {
            "type": "object",
            "description": "Response for a Sms verification — the code is delivered in the SMS.",
            "additionalProperties": false
          }
        ]
      },
      "FlashCallInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InitiateVerificationResponse"
          },
          {
            "type": "object",
            "description": "Response for a FlashCall verification — the code is the trailing\ndigits of the caller id the user sees on the incoming call.",
            "additionalProperties": false
          }
        ]
      },
      "TelegramInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InitiateVerificationResponse"
          },
          {
            "type": "object",
            "description": "Response for a TelegramOtp verification — Telegram delivers the\ncode to the user's Telegram account.",
            "additionalProperties": false
          }
        ]
      },
      "MtsIdInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InitiateVerificationResponse"
          },
          {
            "type": "object",
            "description": "Response for a MtsId verification — MTS pushes a confirmation to\nthe user's SIM; nothing is typed on the push leg and the result arrives asynchronously over our\nnotification webhook (status starts sent). On SMS-OTP fallback the user types the code and\nthe integrator submits it via POST /v1/verify/check.",
            "additionalProperties": false
          }
        ]
      },
      "MaxBotInitiateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InitiateVerificationResponse"
          },
          {
            "type": "object",
            "description": "Response for a MaxBot verification — the user opens the MAX bot at\nDeepLink, shares their number, and the bot delivers the code in MAX. The user then types\nit back and it's checked via POST /v1/verify/check. Status starts sent and flips to\ndelivered once the code reaches the user.",
            "additionalProperties": false,
            "properties": {
              "deep_link": {
                "type": "string",
                "description": "The MAX deep link to open the bot: https://max.ru/<bot>?start=… (show as a link or QR)."
              }
            }
          }
        ]
      },
      "InitiateVerificationRequest": {
        "type": "object",
        "description": "Body for POST /v1/verify.",
        "additionalProperties": false,
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "End-user number in E.164."
          },
          "method": {
            "description": "Verification method.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/VerificationMethod"
              }
            ]
          },
          "expiry_seconds": {
            "type": "integer",
            "description": "Requested session TTL in seconds.",
            "format": "int32",
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "JWTBearerAuth": {
        "type": "http",
        "description": "Enter a JWT token to authorize the requests...",
        "scheme": "Bearer",
        "bearerFormat": "JWT"
      },
      "ExternalBasic": {
        "type": "http",
        "description": "HTTP Basic api_key:api_secret.",
        "scheme": "basic"
      }
    }
  }
}